:root {
  --color-main-primary: #f6505cff;
  --color-main-secondary: #2B95AA;
  --color-dark-primary: #0b132bff;
  --color-dark-secondary: #254769ff;
  --color-light-primary: #e7e7e7ff;
  --color-light-secondary: #eeeeffff;
  --color-info: #78ADDD;
  --color-success: #34D09E;
  --color-warning: #F0E22A;
  --color-rose: #CC648A;
  --color-danger: #F3785E;
}

@tailwind base;

@apply text-lighter;
  h1, h2, h3, h4, h5, h6, p, small {
}

h1 {
  @apply text-5xl font-semibold;
}

h2 {
  @apply text-4xl font-semibold;
}

h3 {
  @apply text-3xl font-semibold;
}

h4 {
  @apply text-2xl font-semibold;
}

h5 {
  @apply text-xl font-semibold;
}

h6 {
  @apply text-lg;
}

p {
  @apply text-base font-light opacity-75;
}

small {
  @apply text-sm;
}

input, button {
  @apply bg-lighter outline-none;
  transition: all 0.2s ease;
}

*:focus, *:active {
  outline: 0 !important;
}

button:disabled,
button[disabled] {
  filter: grayscale(.3) opacity(.5) invert(.2);
  border: 1px solid #333;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  cursor: wait;
  pointer-events: none;
}


/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
} */

@tailwind components;

@tailwind utilities;